/*.o
/sscep
/sscep_static
/sscep_dyn
/sscep.o
/.git_checkout
build/

.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.h
config.log
config.status
configure
depcomp
install-sh
libtool
m4
missing
stamp-h1

